gunicorn
fastapi>=0.110.0
uvicorn[standard]>=0.28.0
sqlalchemy>=2.0.28
asyncpg>=0.29.0
psycopg2-binary>=2.9.9
aiosqlite>=0.20.0
alembic>=1.13.1
celery>=5.3.6
redis>=5.0.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt<4.0.0
python-multipart>=0.0.9
pydantic[email]>=2.6.4
pydantic-settings>=2.2.1
httpx>=0.27.0
groq>=0.4.2
huggingface-hub>=0.21.4
email-validator>=2.1.1
elastic-transport<9.0.0
elasticsearch[async]<9.0.0
fastembed>=0.2.7

# Observability & Monitoring
loguru>=0.7.2
prometheus-client>=0.20.0

# AI & Plant Disease Image Processing Dependencies
numpy>=1.26.0
Pillow>=10.2.0
opencv-python-headless>=4.9.0
ai-edge-litert>=2.1.5

supabase>=2.3.0
